body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 42px;
    color: rgb(111, 4, 4);
}

.players {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}

.start {
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.start2 {
    border: none;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: green;
    color: white;
    display: none;
    margin-bottom: 50px;
} 

.card-spy {
    background-color: rgb(44, 44, 44);
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    padding-top: 50px;
    margin: 0 auto;
}

.card-spy h1 {
    color: red;
}

.card {
    background-color: rgb(44, 44, 44);
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid green;
    border-radius: 5px;
    padding-top: 50px;
    margin: 0 auto;
}

.card h1 {
    color: green;
}

.words {
    text-align: center;
}

#clear {
    display: none;
}